<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
    <style>
      #header {
        background: #000;
        color: #fff;
        padding: 30px;
        text-align: center;
      }
      #content,
      #footer {
        padding: 20px;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <header id="header">Hej {{ name }}!</header>
    <div id="content">
      <p>Welcome to our community!</p>
      <strong>Love to have you here!</strong>
    </div>
    <footer id="footer">
      <a href="https://uzdowski.design" target="_blank">Check out more</a>
    </footer>
  </body>
</html>
